<!DOCTYPE html>
<html>
<head>
  <title>ProjectEuler</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
<%= link_to "Question1", questions_question1_path %>
<%= link_to "Question2", questions_question2_path %>
<%= link_to "Question3", questions_question3_path %>
<%= link_to "Question4", questions_question4_path %>
<%= link_to "Question5", questions_question5_path %>